html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#container {
  background-color: black;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 90%;
  width: 400px;
  overflow: hidden;
}

#display {
  background-color: rgb(71, 69, 69);
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  font-size: 2rem;
  text-align: left;
  color: white;
  overflow: hidden;
}

/**input {
  background-color: rgb(71, 69, 69);
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 50px;
}**/

#numPadContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

button {
  width: 22vw;
  height: 12vh;
  border: none;
  border-radius: 50px;
  background-color: hsl(0, 0%, 50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  max-width: 100px;
  max-height: 80px;
}

button:hover {
  background-color: hsl(0, 0%, 60%);
}

button:active{
  background-color: hsl(0, 0%, 70%);
}

/**#numBtn {
}**/

.special {
  background-color: hsl(35, 87%, 50%);
}

.special:hover {
  background-color: hsl(42, 87%, 55%);
}

.special:active {
  background-color: hsl(42, 87%, 65%);
}

@media (max-width: 600px) { 
  #numPadContainer {
    gap: 10px; /* Reduce spacing on small screens */
    padding: 10px

/**.video-container {
  display: none;
  margin-top: 20px;
}
iframe {
  width: 100%;
  height: 315px;
}**/
